@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Poiret One', cursive;
}

body {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {

  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.head-intro {
  display: flex;
  flex-direction: column;
  margin: 100px 20px 10px 20px;
  padding: 10px 20px 10px 20px;
  font-size: 420%;
}

.animate__animated .animate__bounceInDown {
  --animate-duration: 10s;
}

.head-texts {
  margin-bottom: 5px;
  transition-property: font-size;
  transition-duration: 2s;
}

.head-texts:hover {
  font-size: 100%;
  cursor: grab;
}

.main-info {
  max-width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.display-picture {

  display: flex;
  margin: 0 auto;
  padding: 30px;
}

.general-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 5px auto;
}

.display-picture {
  display: flex;

}

img {

  border-radius: 5px;
  box-shadow: 15px 15px 15px grey;
}

.name {
  margin-left: 7px;
  font-size: 350%;
}

.QnA {
  font-size: 150%;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
}

.answer {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
}

@media screen and (max-width:768px) {
  .main-info {
    flex-wrap: wrap;
  }
}
